### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Use the length of list of screen names "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())

# Create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculations for unique items, average price, purchase count, and revenue
total_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[total_items],"Average Price":[average_price], 
                           "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
#displaying data
summary_df.style.format({'Average Price':"${:,.2f}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
df_genders = purchase_data[['Gender','SN']].drop_duplicates(subset = 'SN')

gender_count = df_genders['Gender'].value_counts(0)
gender_percent = df_genders['Gender'].value_counts(1)

gender_count_df = pd.DataFrame(gender_count)
#doing the percentage of the genders
gender_percent_df = round(pd.DataFrame(gender_percent) * 100, 2)

#merging the tables of the gender count and percentage
gender_demographics_df = gender_percent_df.merge(gender_count_df, left_index = True, right_index = True)
gender_demographics_df.columns = ['Total Count', 'Percentage of Players']
gender_demographics_df

                       Total Count  Percentage of Players
Male                         84.03                    484
Female                       14.06                     81
Other / Non-Disclosed         1.91                     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:

#data frame by grouping by gender
df_gender_2 = purchase_data.groupby('Gender')
#getting values of pruchase ID and counting
purchase_count = round(df_gender_2['Purchase ID'].count(), 0)
#avg purchase price and getting the mean
avg_purchase_price = round(df_gender_2['Price'].mean(), 2)
#adding all the purchase prices
total_purchase_value = round(df_gender_2['Price'].sum(), 2)
#getting the purchase per gender
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)

#making a data frame with the columns and adding column names
purchase_analysis_g = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value, purchase_value_per_gender])
purchase_analysis_gender = purchase_analysis_g.T
purchase_analysis_gender.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,4.47
Male,652.0,3.02,1967.64,4.07
Other / Non-Disclosed,15.0,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_categories)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_groupings = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_groupings["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_summary = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_summary.index.name = None

# call upon the percentage of players and total count columns
#format the chart will only two decimal places
age_summary.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Count purchases by age group
counting_purchases = age_groupings["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = round(age_groupings["Price"].mean(),2)

# Calculate total purchase value by age group 
total_purchase_value = age_groupings["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = round((total_purchase_value/total_count_age),2)


#creating a dataframe of the values and then adding the columns to the dataframe

summary_of_ages = pd.DataFrame([counting_purchases, avg_purchase_price_age, total_purchase_value, avg_purchase_per_person_age])
summary_of_ages2 = summary_of_ages.T
summary_of_ages2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary_of_ages2.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23.0,3.35,77.13,4.54
10-14,28.0,2.96,82.78,3.76
15-19,136.0,3.04,412.89,3.86
20-24,365.0,3.05,1114.06,4.32
25-29,101.0,2.90,293.00,3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#grabbing the screen names
top_spenders = purchase_data.groupby('SN')
#count per gender
purchase_counts = top_spenders['Gender'].count()
#round to the second decimal
average_spending = round(top_spenders['Price'].mean(),2)
total_purchase = round(top_spenders['Price'].sum(),2)

#creating the spenders chart will the columns of purchase count, sn, avg purchase price and total purchase value
spenders = pd.DataFrame([purchase_counts, average_spending, total_purchase])
spenders1 = spenders.T
spenders1.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
#ordering the total purchase value column with highest price to lowest
spenders1.sort_values('Total Purchase Value', ascending=False).reset_index().head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93             5.0                    3.79                 18.96
1  Idastidru52             4.0                    3.86                 15.45
2   Chamjask73             3.0                    4.61                 13.83
3       Iral74             4.0                    3.40                 13.62
4  Iskadarya95             3.0                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
counting_purchased_items = item_stats["Price"].count()
#purchase_count_item
# Calcualte the purchase value per item 
purchase_value = item_stats["Price"].sum() 

# Find individual item price
item_price = purchase_value/counting_purchased_items

# Create data frame with obtained values
top_items = pd.DataFrame({"Purchase Count": counting_purchased_items, "Item Price": item_price,"Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = top_items.sort_values(["Purchase Count"], ascending=False).head()

#getting the chart with formattinga. dollar sign
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# sorting the popular items
popular_formatted2 = top_items.sort_values(["Total Purchase Value"],ascending=False).head()
# formatting the chart
popular_formatted2.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})